<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width" />
		<title>CurrencyConvertApi - beta </title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</head>
	<body>
	
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">CurrencyConvertApi <small>beta</small></h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<h2>Sobre a API</h2> 
					<h4>Api desenvolvida para facilitar o cálculo de conversão de moedas a partir
					da cotação de venda da moeda desejada. Todas as cotações são baseadas na moeda
					brasileira R$ (BRL). E a API é atualizada a cada 30 minutos.
					</h4> 
					<hr/>
					<h2>Como Usar?</h2>
					<div class="bs-example"> 
						<div class="panel panel-default"> 
							<div class="panel-body"> 
								<h4> 
									<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
									Para realizar o cálculo de conversão entre duas moedas
								</h4>
								<p>
								Os parâmertros <span style="color:blue;font-weight: bold;">valor</span>, moeda origrem (<span style="color:blue;font-weight: bold;">BRL</span>) 
								e moeda destino (<span style="color:blue;font-weight: bold;">BRL</span>)
								devem ser passados corretamente via URL conforme exemplo abaixo.
								</p>
								<hr/>
								<h4>Endreço:</h4>
								 
								<p>Passando o parâmetros <b>valor = 3000, de = BRL</b> e <b>para = USD</b>: 
									<pre>GET /api/v1/calc/<span style="color:blue;font-weight: bold;">3000&amp;BRL-USD</span>
									</pre> 
								</p>
								
								<h4>Resultado:</h4>
<pre>
{
	status: 200,
	info: "SUCCESS",
	data: {
		from: "BRL",
		to: "USD",
		total: 920.22,
		lastUpdateTime: "2018-01-03T23:58:36.994Z"
	}
}
</pre>

							</div> 
							
						</div> 
					</div>
					
					<div class="bs-example"> 
						<div class="panel panel-default"> 
							<div class="panel-body"> 
								<h4>
									<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
									Para obter todas as cotações de todas as moedas disponíveis
								</h4>
								<hr/>
								<h4>Endreço:</h4>
								<pre> GET  /api/v1/   ou   /api/v1/all</pre>
								<h4>Resultado:</h4>
<pre>
{
	status: 200,
	info: "SUCCESS",
	data: [
		{
			id: 1,
			country: "BRASIL",
			currencyName: "Real",
			currencyCode: "BRL",
			quote: 1,
			updateDate: "2018-01-03T23:58:36.994Z"
		},
		{
			id: 2,
			country: "EUA",
			currencyName: "Dólar Americano",
			currencyCode: "USD",
			quote: 3.2601,
			updateDate: "2018-01-03T23:58:36.994Z"
		},
		{
			id: 3,
			country: "ZONA DO EURO",
			currencyName: "Euro",
			currencyCode: "EUR",
			quote: 3.9264,
			updateDate: "2018-01-03T23:58:36.994Z"
		},
		...
	]
}
</pre>
							</div> 
							
						</div> 
					</div>
					<div class="bs-example"> 
						<div class="panel panel-default"> 
							<div class="panel-body"> 
								<h4>
									<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
									Para obter informações de uma moeda específica
								</h4>
								<hr/>
								<h4>Endreço:</h4>
								 
								<p>Passando o codigo da moeda do país: 
									<pre>GET /api/v1/quote&amp;code=<span style="color:blue;font-weight: bold;">EUR</span></pre>
								</p>
								<p>Passando o nome do país: 
									<pre>GET /api/v1/quote&amp;country=<span style="color:blue;font-weight: bold;">australia</span></pre>
								</p>
								
								<h4>Resultado:</h4>
<pre>
{
	status: 200,
	info: "SUCCESS",
	data: {
	id: 3,
	country: "ZONA DO EURO",
	currencyName: "Euro",
	currencyCode: "EUR",
	quote: 3.927,
	updateDate: 1514952287319
	}
}
</pre>

							</div> 
							
						</div> 
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="bs-example" data-example-id="panel-with-footer"> 
						<div class="panel panel-default"> 
							<div class="panel-body"> 
								API Information 
								<table class="table table-condensed">
									<tr>
										<th>Versão</th>
										<td>1.0 beta</td>
									</tr>
									<tr>
										<th>Source Data</th>
										<td><a href="https://economia.uol.com.br/cotacoes/">UOL Cotações</a></td>
									</tr>
									<tr>
										<th>Owner</th>
										<td>André Luiz Ximenes</td>
									</tr>
									<tr>
										<th>Contact</th>
										<td> <a href="mailto:me@andreximenes.com">me@andreximenes.com</a></td>
									</tr>
								</table>
							</div> 
							<div class="panel-footer">
							</div> 
						</div> 
					</div>
				</div>
			</div>
		</div>
	</body>
</html>